# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
terraform.tfvars

# macOS
.DS_Store

# Node
node_modules/
dist/
build/

# Logs
*.log

# Env
.env

# Docker
*.tar

# IDE
.vscode/
.idea/
